<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway|Spectral"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./assets/style.css" />
  </head>

  <body>
    <header class="menu">
      <div class="burger">
        <span></span>
      </div>

      <nav>
        <div class="col-md-7">
          <ul class="main">
            <li><a href="#0">Home</a></li>
            <li><a href="#0">About</a></li>
            <li><a href="#0">Portfolio</a></li>
            <li><a href="#0">Blog</a></li>
            <li><a href="#0">Contact</a></li>
          </ul>
        </div>

        <div class="col-md-5">
          <div class="about">
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit
              amet, consectetuer adipiscing elit. Aenean commodo ligula eget
              dolor. Aenean massa. Lorem ipsum dolor sit amet, consectetuer
              adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            </p>
          </div>

          <div class="social">
            <a href="#">
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-github"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-x-twitter"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-medium"></i>
            </a>
          </div>
        </div>
      </nav>

      <div class="overlay"></div>
      <div class="logo" id="logo">
        <a href="#0"><img src="./assets/images/logo.png" alt="logo" /></a>
      </div>
    </header>

<section class="comming-soon">
<h1> COMMING SOON!</h1>
</section>

    <!-- footer -->
    <footer class="footer">
        <div class="footer-title">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h3>Contact Info</h3>
                <p>
                  Reach out for a collab!
                  <br />
                  Start effectively managing your wealth.
                </p>
  
                <p></p>
              </div>
            </div>
          </div>
        </div>
  
        <div class="footer-body">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="footer-contact">
                  <h4>EMAIL:</h4>
                  <p>afif@hoseini.website</p>
                </div>
              </div>
  
              <div class="col-md-3">
                <div class="footer-contact">
                  <h4>PHONE:</h4>
                  <p>(+45) 66 50 00 07</p>
                </div>
              </div>
  
              <div class="col-md-3">
                <div class="footer-contact">
                  <h4>ADDRESS:</h4>
                  <p>Denmark, Aalborg</p>
                </div>
              </div>
  
              <div class="col-md-3">
                <div class="footer-social footer-contact">
                  <h4>SOCIAL MEDIA::</h4>
                  <a href="#">
                    <i class="fa-brands fa-linkedin-in"></i>
                  </a>
                  <a href="#">
                    <i class="fa-brands fa-github"></i>
                  </a>
                  <a href="#">
                    <i class="fa-brands fa-x-twitter"></i>
                  </a>
                  <a href="#">
                    <i class="fa-brands fa-medium"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      
    <!-- scripts -->
    <script src="./assets/script.js"></script>
  </body>
</html>
