
{% extends "base.html" %}

{% block title %}
Home
{% endblock title %}
{% block body %}

<main>
    <!-- hero -->
    <section class="container-hero">
      <div class="row hero">
        <div class="col-md-8">
          <h1 class="name">{{home.hero_name}}</h1>
          <div class="photo-hero"></div>
        </div>
        <div class="col-md-4 hero-title">
          <div class="profile-group">
            <h3>{{home.hero_title}}</h3>
            <h4>{{home.hero_subtitle}}</h4>
            <div class="social-media">
              {%for item in social %}
              <a href="{{item.url}}">
                <i class="fa-brands {{ item.icon_class }}"></i>
              </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- about -->
    <section class="container">
      <div class="row about-home">
        <div class="col-md-12">
          <h2 class="title-about">{{home.experience_title}}</h2>
          <p>
            {{home.experience_description}}
          </p>
        </div>
      </div>
      <div class="row timeline">
        <div class="col-md-10">
          <div class="timeline-container">
            {%for item in eduinfo %}
            <div class="row timeline-body">
              <div class="col-md-2 timeline-date">
                <h5 class="timeline-year">{{item.year}}</h5>
              </div>
              <div class="col-md-10">
                <div class="timeline-content">
                  <h5 class="timeline-title">{{item.title}}</h5>
                  <p>{{item.subtitle}}</p>
                </div>
              </div>
            </div>
            {% endfor %}   
              
          
          </div>
        </div>

        <div class="col-md-2 timeline-btn">
          <a class="btn btn-resume" href="/static/files/afif_cv.pdf" target='_blank'>{{home.experience_button1}}</a>
          <a class="btn btn-contact" href="">{{home.experience_button2}}</a>
        </div>
      </div>
    </section>

    <!-- skills -->
    <section class="container">
      <div class="row skills">
        <div class="col-md-12">
          <h2 class="title-about">
           {{home.skills_title1}}
            <br />
            {{home.skills_title2}}
          </h2>
        </div>
        <div class="col-md-6">
          
          {%for item in home.skills %}
          <h4>{{item.skill_title}}</h4>
          <ul>
            {%for i in item.skill_subtitle %}
            <li>{{i.skill_sub}}</li>
            {% endfor %}
          </ul>
         {% endfor %}     
        </div>
        <div class="col-md-6">
          <img src="/static/img/skills.png" alt="skills" />
        </div>
      </div>
    </section>

    <!-- resource  -->
    <section class="about-table container">
      <div class="row about-details">
        <div class="col-md-12 pm-title">
          <h2 class="title-about">{{home.resource_title}}</h2>
          <p>{{home.resurce_desc}}</p>
        </div>
        
        {% for item in home.table %}
        <div class="col-md-3 {{item.rowclass}}">
        
          {%for i in item.about %}
          <div class="col-md-12 {{i.tableclass }}">
            <a href="#">
            <i class="fa-solid fa-circle-arrow-down"></i>
            </a>
            <h3>{{i.title | safe}}</h3>           
          </div>
          {% endfor %}

        </div>
        {% endfor %}
        
      </div>
    </section>

    <!-- portfolio -->
    <section class="portfolio-cta">
      <div class="row">
          <div class="col-md-5 pm-title">
            <h2 class="title-portfolio">{{home.portfolio_title}}</h2>
            <p >{{home.portfolio_desc}}</p>
            <a class="portfolio-btn" href="#">{{home.portfolio_button}}</a>
          </div>
      
      </div>
    </section>

    <!-- articles -->
    <section class="container">
      <div class="row articles">
        <div class="col-md-12">
          <h2 class="title-about">{{home.article_title}}</h2>
        </div>
        <div class="row article">
           
          {%for item in home.blog %}
          <div class="col-md-3">
            <div class="card-article">
              <div class="article-img">
                <a href="{{item.art_url}} target='_blank'">
                  <img src="{{item.art_img.data.attributes.url}}" alt="article" />
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="card-article-text">
              <a href="{{item.art_url}} target='_blank'">
                <div class="article-body">
                  <h4 class="article-title">
                   {{item.art_title}}
                  </h4>
                  <h6>{{item.art_date}}</h6>
                  <p>
                    {{item.art_desc}}
                  </p>
                </div>
              </a>
            </div>
          </div>
          {% endfor %}
          
        </div>
      </div>
    </section>

  </main>

{% endblock body%}


