{% extends "base.html" %}
{% block title %}
About
{% endblock title %}
{% block body %}

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-50">
                <h1>Project 1</h1>
            </div>
            <div class="col-md-7">
                <h3 class="mt-30">Open Bulgaria</h3>
                <div class="mt-30" style="padding-left: 10px; border-left: 4px solid #FFEA6F;">
                    <p>Open Bulgaria serves the local and international community living in Bulgaria
                        by creating original content about all aspects of life in the country, hosting
                        online and offline events, and being the go-to place when a question about
                        Bulgaria needs answering. </p>
                    <div class="mt-30">
                        <p><b>Role:</b>Web Designer and Frontend Developer</p>
                        <p><b>Teammates:</b> 2 Frontend developer, 1 backend developer, 2 software engineer,
                            1 product managers, and 5 content writers, 2 web designer, and business developer,
                            3 marketing specialist</p>
                        <p><b>Duration:</b> 1 year</p>
                        <p><b>Status:</b> Shipped 🚢</p>
                    </div>

                </div>

            </div>
            <div class="col-md-5">
                <img src="/static/img/OB-p1.PNG" style="width:100%"></img>
            </div>
            <div class="col-md-12 mt-30">
                <div style="padding-left: 10px; border-left: 4px solid #56FAC9;">
                    <h5>Challenges</h5>
                    <p>
                        This project presented a unique set of challenges. We had to ensure the website looked great and
                        worked flawlessly across all browsers and devices, from desktops to smartphones. Speed was
                        crucial,
                        so we optimized every aspect to provide a fast and enjoyable user experience.

                        Accessibility was paramount – we wanted to make sure everyone, regardless of their abilities,
                        could
                        easily navigate and use the site. We also focused on creating an intuitive interface that was
                        both
                        user-friendly and visually appealing.

                        Security was top of mind, and we implemented robust measures to protect the site and user data.
                        Finally, we developed a user-friendly content management system that empowered our team, even
                        those
                        with less technical experience, to easily update and manage the website while maintaining a
                        consistent look and feel.
                    </p>
                </div>


            </div>
            <div style="padding: 30px;  background:#f6d7ff; height:15px; margin-top: 50px;
    margin-bottom: 50px;"></div>
        </div>

        <div class="row">
            <div class="col-md-12 mt-50">
                <h1>Project 2</h1>
            </div>
            
            <div class="col-md-7" >
                <h3 class="mt-30">Nasio theme</h3>
                <div class="mt-30" style="padding-left: 10px; border-left: 4px solid #AEFAF8;">
                    <p>I had the pleasure of contributing to Nasio Themes, a company specializing in creating a diverse
                        collection of high-quality WordPress themes designed for small businesses. Recognizing the
                        importance of user experience, we focused on building a user-centric platform that empowers
                        visitors to easily find and select the perfect themes from a wide range of options, suitable for
                        various needs, from digital agencies to blogs and E-Commerce. This involved implementing several
                        key features, in both free and premium versions, and considering potential integrations with
                        popular page builders to enhance the user experience. My contributions to this project helped
                        create a platform that empowers small business owners to easily build professional and engaging
                        websites.</p>
                    <div class="mt-30">
                        <p><b>Role:</b>Frontend Developer - product lead</p>
                        <p><b>Teammates:</b> 2 Frontend developer, 1 backend developer, 1 software engineer,
                            1 product manager, 2 web designers</p>
                        <p><b>Duration:</b> 1 and half year</p>
                        <p><b>Status:</b> Shipped 🚢</p>
                    </div>

                </div>

            </div>
            <div class="col-md-5">
                <img src="/static/img/nasiotheme.png" style="width:100%"></img>
            </div>

            <div class="col-md-12 mt-30">
                <div style="padding-left: 10px; border-left: 4px solid #F6D7FF;">
                    <h5>Challenges</h5>
                    <p>
                        Maintaining Design Consistency: Ensuring a consistent visual identity and user experience across
                        a
                        diverse range of themes while allowing for unique aesthetics within each individual theme.
                        Cross-browser Compatibility: Ensuring seamless functionality and optimal display across
                        different
                        browsers, devices, and screen sizes.
                        Website Speed Optimization: Optimizing theme code for speed and efficiency to provide a fast and
                        enjoyable user experience, crucial for website performance and SEO.
                        Accessibility: Making sure all themes are accessible to users with disabilities, adhering to
                        accessibility guidelines (WCAG) for inclusivity.
                        Security Best Practices: Prioritizing security measures to protect users from vulnerabilities
                        and
                        implementing robust maintenance procedures for ongoing updates and support.
                        Staying Updated with WordPress: Continuously adapting to the evolving WordPress ecosystem,
                        including
                        new features, updates, and best practices in web development.
                        Meeting Diverse User Needs: Creating themes that cater to the diverse needs and preferences of
                        various target audiences, from small businesses and bloggers to e-commerce stores and creative
                        professionals.
                    </p>
                </div>


            </div>
            <div style="padding: 30px;  background:#f6d7ff; height:15px; margin-top: 50px;
    margin-bottom: 50px;"></div>
        </div>

        <div class="row">
            <div class="col-md-12 mt-50">
                <h1>Project 3</h1>
            </div>
            <div class="col-md-7" >
                <h3 class="mt-30">QuickBook- AI powered</h3>
                <div class="mt-30" style="padding-left: 10px; border-left: 4px solid #FFEA6F;">
                    <p>I had the opportunity to contribute to the development of QuickBooks AI, a powerful learning
                        platform designed to streamline the creation of engaging learning content teachers. This project
                        involved building a user-friendly interface that simplifies the process of developing
                        high-quality educational materials, such as stories for children and language learning resources
                        for teachers. Leveraging AI technology, the platform automates tasks like generating
                        personalized learning plans for students with different level focusing on different topics,
                        creating interactive exercises, and providing customized feedback to learners. And at the same
                        time
                        providing admin panel for platform users with different level of access. My role in this
                        project helped create a valuable tool that empowers educators to save time and effort while
                        delivering more effective and personalized learning experiences. </p>
                    <div class="mt-30">
                        <p><b>Role:</b>full-stack Developer</p>
                        <p><b>Teammates:</b> 1 Frontend developer, 2 backend developer, 2 full-stack developer,
                            1 Prompt engineer, 1 project manager</p>
                        <p><b>Duration:</b> 3 month</p>
                        <p><b>Status:</b> Almost-Shipped 🚢</p>
                    </div>

                </div>

            </div>
            <div class="col-md-5">
                <img src="/static/img/qb.png" style="width:100%"></img>
            </div>
            <div class="col-md-12 mt-30">
                <div style="padding-left: 10px; border-left: 4px solid #56FAC9;">
                    <h5>Challenges</h5>
                    <p>
                        Finding the right balance between AI-powered automation and the need for human oversight and
                        intervention to ensure the accuracy and quality of generated learning content.
                        Mitigating potential biases in the AI algorithms to ensure that generated learning materials are
                        fair, equitable, and inclusive for all learners.
                        Ensuring Data Privacy and Security: Protecting sensitive learner data and ensuring compliance
                        with
                        relevant privacy regulations while leveraging data to personalize the learning experience.
                        Building trust with educators and learners by demonstrating the reliability in use of
                        AI in the learning process.
                        Adapting to the rapidly evolving field of AI in education, continuously refining the platform's
                        algorithms, and incorporating user feedback to enhance the learning experience.

                    </p>
                </div>


            </div>

        </div>



    </div>
</main>

{% endblock body%}